@media (min-width:576px) {
    .tab {
        display: block;
    }

    .mobile {
        display: none;
    }

    .shape-header {
        min-block-size: 4.5rem;
    }

    .main-show-logo {
        max-inline-size: 40vw;
        block-size: 1.75rem;
    }

    .shape-shop {
        padding-inline-start: 16px;
        padding-inline-end: 12px;
        align-items: center;
        display: flex;
        max-inline-size: 100%;
        position: relative;
        border: none;
        background: transparent;
    }

    .shape-shop-text {
        font-size: .875rem;
        line-height: 1.125rem;
        color: #191e3b;
        font-weight: 500;
        white-space: nowrap;
        font-family: 'medium';
    }

    .shop-text-logo {
        overflow: hidden;
        block-size: 1.125rem;
        box-sizing: content-box;
        fill: currentcolor;
        grid-area: auto;
        min-inline-size: 1.125rem;
        vertical-align: middle;
        text-shadow: none;
    }

    .trip-text {
        font-size: .875rem;
        line-height: 1.125rem;
        padding-inline-end: .75rem;
        padding-inline-start: .75rem;
        background: none;
        border-radius: 0;
        color: #191e3b;
        flex-wrap: nowrap;
        font-weight: 500;
        white-space: nowrap;
        font-family: 'medium';
        text-decoration: none;
    }

    .message-logo {
        font-size: 1rem;
        line-height: 1.25rem;
        padding-inline-end: .75rem;
        padding-inline-start: .75rem;
        background: none;
        border-radius: 0;
        color: rgb(25, 30, 59);
        fill: rgb(25, 30, 59);
        flex-wrap: nowrap;
        font-weight: 500;
        white-space: nowrap;
        padding-block: .25rem;
        border-color: #999ca8;
        inline-size: 3rem;
        min-block-size: 3rem;
        display: inline-block;
        position: relative;
        border: 0;
    }

    .message-logo-svg {
        overflow: hidden;
        vertical-align: middle;
        color: #191e3b;
    }

    .sign-tab {
        display: inherit;
        max-inline-size: 100%;
        position: relative;
        flex-grow: 0;
    }

    .sign-tab-text {
        font-size: .875rem;
        line-height: 1.125rem;
        padding-inline-end: .75rem;
        padding-inline-start: .75rem;
        background: none;
        border-radius: 0;
        color: #191e3b;
        font-weight: 500;
        white-space: nowrap;
        border-color: #999ca8;
        min-block-size: 2.25rem;
        align-items: center;
        border-style: solid;
        border-width: 0;
        font-family: 'medium';
    }

    .tabs-custom {
        justify-content: center;
        margin-right: -2px;
    }

    .tabs-under {
        transform: translateX(23px) scaleY(1) scaleX(1);
    }
    .main-tabs-background {
        padding-right: 26px;
    }
    .main-border {
        position: relative;
        text-overflow: ellipsis;
    }

    .main-border::before {
        border: 1px solid #dfe0e4;
        block-size: 99%;
        border-radius: 1rem;
        content: " ";
        display: block;
        inline-size: 100%;
        inset-block-start: 0;
        inset-inline-start: 0;
        pointer-events: none;
        position: absolute;
        z-index: 100;

    }

    /* .select-text-where {
        margin-inline-start: 2.75rem;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        margin-left: 12px;
    } */

    .select-gap {
        margin-block-start: unset;
        padding: 24px;
        margin-right: -2px;
    }

    .select-grid {
        grid-template-columns: repeat(3, 1fr) max-content;
        grid-template-areas: "a b c d" "e e e e";
        grid-auto-columns: minmax(0px, 1fr);
        grid-template-rows: 1fr fit-content(0.25rem);

    }
    .add-d-vehicle{
       grid-area: e;
    }
    .select-top-grid {
        grid-area: a;
    }

    .select-b-grid {
        grid-area: b;
    }

    .select-c-grid {
        grid-area: c;
    }

    .search-grid {
        grid-area: d;
    }

    .search-button {
        padding: 4 16;
    }
    .learn-grid{
        grid-template-rows: repeat(3, max-content) fit-content(0.25rem);
        grid-template-columns: repeat(3, max-content) fit-content(0.25rem);
        grid-auto-rows: minmax(0px, 1fr);
        grid-template-areas:  "A B C D E";
        display: grid;
    }
    .learn-theme-grid{
        display: grid;
        height: 100%;
        flex-wrap: wrap;
        padding-inline-end: 1.5rem;
        padding-inline-start: 1.5rem;
        padding-block-end: 1.5rem;
        padding-block-start: 1.5rem;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-template-rows: repeat(2, minmax(0, 1fr));
        flex-direction: row;
        max-width: 100%;
        display: flex;
    }
    .learn-buttons{
        display: flex;
        block-size: 100%;
        justify-content: flex-start;
        flex-direction:column;
        align-items: flex-start;
    }

    .main-theme{
        grid-template-columns:repeat(3, minmax(0, 1fr));
        grid-auto-rows: minmax(0px, 1fr);
        display: grid;
    }
    .theme-image-size{
        inset: 0;
        margin: 0;
        display: grid;
        grid-column-start: span 1;
        padding: 0;
        aspect-ratio: 21 / 9;
        inline-size: 100%;
        overflow: hidden;
        place-self: stretch;
        position: relative;
    }
     .theme-image{
        height: 100%;
        block-size: 100%;
        inset: 0;
        position: absolute;
        opacity: 1;
        transition: opacity 1s;
        display: block;
       object-fit: cover;
     }
    .theme-content{
        grid-column-start: span 2;
        flex-direction: row;
        gap: 0;
        padding-block-start: 1.5rem;
    }
    .theme-card{
        flex-wrap: wrap;

        block-size: 100%;
        display: flex;
        flex-direction: column;

       
    }
    .theme-buttons{
 
        grid-area: B;
       gap: 0;
        flex-wrap: nowrap;
        flex-direction: row;
   
    }
    .theme-title{
        font-size: 36px;
        line-height: 40px;
        word-break: break-word;
        overflow-wrap: break-word;
        padding-block-end: .5rem;
    }
    .theme-text{
        padding-block-start:unset
    }
    .learn-btn {
        white-space: nowrap;
    }

    .dismiss-btn{
        padding-right: 8px;
        padding-left: 20px;
    }
    .blue-sign{
        align-items: flex-start;
    }
    .sign-btn{
        inline-size: unset;
    }
    .building-card{
        position: relative;
    }
    .building-theme{
        aspect-ratio: 21 / 9;
    }
    
    .building-sale{
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
        inset-inline-start:32px;
        display: grid;
        grid-template-columns:repeat(5, minmax(0, 1fr));
        grid-column-start: span 3;

    }
    .sale-content{
        grid-column-start: span 3;
        border-radius: 1rem;
        padding-right: 16px;
        padding-left: 24px;
    }
    .building-head{
        font-size: 36px;
        line-height: 40px;
    }
    .building-pg{
        font-size: 14px;
        line-height: 18px;
    }
    .deal-grid{
        grid-template-columns: repeat(2, minmax(0, 1fr));
        block-size: 100%;
    }
    .deal-text{
        grid-column-start: span 1;
    }
    .deal-image-shape {
        grid-column-start: span 1;
    }
}
@media (min-width:624px) {
    .deal-card{
        height: 100%;
        width: 44%;
        /* inline-size:calc(100% - 16px * 2 - 16px / 2); */
    }
    .deal-grid{
        display: flex;
    }
    .deal-text{
        width: 100%;
    }
    .deal-content{
        max-height: 80px;
    }
}

@media (min-width:768px) {
    .tabs-under {
        transform: translateX(119px) scaleY(1) scaleX(1);

    }
}
@media (min-width:921px) {
    .theme-card{
        justify-content: center;
    }
    .theme-content{
            justify-content: space-between;
    }
  
  
    
}

@media (min-width:992px) {
    .desktop {
        display: block;
    }

    .phone {
        display: none;
    }

    .shape-position {
        padding-inline-end: .5rem;
    }

    .shape-shop {
        padding-inline-start: .25rem;

    }

    .shape-shop-text {
        padding-inline-start: 16px;
    }

    .global-size {
        font-size: .875rem;
        line-height: 1.125rem;
        padding-inline-end: 1rem;
        padding-inline-start: 1rem;
        background: none;
        border-radius: 0;
        color: #191e3b;
        flex-wrap: nowrap;
        font-weight: 500;
        white-space: nowrap;
        padding-block: .25rem;
        border-color: #999ca8;
        min-block-size: 2.25rem;
        align-items: center;
        border-style: solid;
        border-width: 0;
        cursor: pointer;
        display: inline-flex;
        justify-content: center;
        text-shadow: none;
    }

    .global-text {
        margin-inline: .25rem;
        font-family: 'medium';
    }

    .global-country {
        margin-inline-start: .25rem;
        block-size: 0.875rem;
        inline-size: 1.25rem;
        display: inline-flex;
        fill: currentcolor;
        max-block-size: 100%;
        max-inline-size: 100%;
    }

    .property {
        font-family: 'medium';
        font-size: .875rem;
        line-height: 1.125rem;
        padding-inline-end: 1rem;
        padding-inline-start: 1rem;
        background: none;
        border-radius: 0;
        color: #191e3b;
        flex-wrap: nowrap;
        font-weight: 500;
        white-space: nowrap;
        padding-block: .25rem;
        border-color: #999ca8;
        text-decoration: none;
    }

    .support {
        font-family: 'medium';
        font-size: .875rem;
        line-height: 1.125rem;
        padding-inline-end: 1rem;
        padding-inline-start: 1rem;
        background: none;
        border-radius: 0;
        color: #191e3b;
        flex-wrap: nowrap;
        font-weight: 500;
        white-space: nowrap;
        padding-block: .25rem;
        border-color: #999ca8;
        text-decoration: none;

    }

    .message-logo {
        padding-inline-end: .75rem;
        padding-inline-start: .75rem;
        padding-block: .25rem;
        width: auto;
        inline-size: unset;
    }

    .message-logo-svg {
        height: 24px;
        width: 24px;
    }

    .sign-tab-text {
        padding-inline-end: 1rem;
        padding-inline-start: 1rem;
    }

    .trip-text {
        padding-inline-end: 1rem;
        padding-inline-start: 1rem;
    }

    .tabs-under {
        transform: translateX(217px) scaleY(1) scaleX(1);
    }
    .blue-content{
        flex-direction: row;
    }
    .blue-sign{
        flex-basis: 280px;
        flex-shrink: 1;
        flex-grow: 2;
        justify-content: flex-end;
        align-items: center;
        padding-block-start: unset;
        flex-direction: row;
    }
    .building-sale{
        grid-template-columns: repeat(6, minmax(0, 1fr));
        inset-block-start: auto;
        inset-inline-start: 48px;
        inset-inline-end: auto;
        inset-block-end: 48px;
        transform:none;
    }
    .sale-content{
        grid-column-start: span 2;
    }

}
@media (min-width:1200px) {
    .main-tabs-background{
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 78rem;
    }
    .main-background-theme{
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 78rem;
    }
    .main-blue{
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 78rem;
    }
    .main-large-background{
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 78rem;
    }
}
